/*https://coolors.co/palette/006d77-83c5be-edf6f9-ffddd2-e29578*/

body {
    text-align: center;
    background-color: #EDF6F9;
}

ul {
    list-style: none;
    background-color: #006D77;
    border-radius: 0.5em;
}

li a {
    color: #EDF6F9;
    text-decoration: none;
    font-size: 1.5em;
}

#about-me {
    background-color: #006D77;
    border-radius: 0.5em;
}

#about-me a {
    color: #FFDDD2;
    border-radius: 0.5em;
}

#first-paragraph {
    color: #EDF6F9;
    font-size: 3em;
    font-weight: bold;
}

#second-paragraph {
    color: #EDF6F9;
    font-size: 2em;
}

.other-paragraph {
    color: #EDF6F9;
    font-size: 1.5em;
}

#my-photo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
}