/*https://coolors.co/4c5760-93a8ac-d7ceb2-a59e8c-66635b*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #4C5760;
    --secondary-color: #93A8AC;
    --accent1-color: #D7CEB2;
    --accent2-color: white;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: var(--accent2-color);
    font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
}

nav {
    padding: 25px;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    justify-content: space-around;
}

nav a {
    border-radius: 5px;
    color: var(--accent2-color);
    text-decoration: none;
    font-size: 1.5em;
    transition: background-color .2s ease;
    padding: 10px;
}

nav a:hover {
    background-color: var(--secondary-color);
}

main {
    padding: 1em;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#headline {
    margin: 100px;
}

#about-me {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 0.5em;
}

#about-me a {
    color: var(--accent1-color);
    border-radius: 0.5em;
}

#about-me p {
    text-align: left;
    color: var(--accent2-color);
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
}

#my-photo {
    width: 100%;
    border-radius: 0.5em;
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
    }
}