@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Urbanist:ital@0;1&display=swap');

:root {
  --primary-color: #3b4252;
  --secondary-color: #81A1C1;
  --accent1-color: #8fbcbb;
  --accent2-color: #E5E9F0;
  --dark-color: #2e3440;

  --heading-font: "Urbanist", Verdana, sans-serif;
  --paragraph-font: "Dosis", Helvetica, sans-serif;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


[data-theme="light"] {
  --background-color: white;
  --font-color: var(--primary-color);
}

[data-theme="dark"] {
  --background-color: #2e3440;
  --font-color: var(--accent2-color);
}

body {
  font-size: 21px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--font-color);
}

header {
  position: fixed;
  height: 100%;
  width: 100px;
  background-color: var(--primary-color);
  animation: slideInLeft .5s ease;
  z-index: 2;
}

#logo-link img {
  width: 100%;
  border-radius: 50%;
  transition: transform .5s ease;
}

#logo-link img:hover {
  transform: rotate(360deg);
} 

#sidebar {
  display: flex;
  flex-direction: column;
}

.nav-link {
  padding: 20px;
  color: var(--accent2-color);
  text-decoration: none;
  font-family: var(--paragraph-font);
  text-align: center;
}

.nav-link:not(#active) {
  transition: background-color 0.1s ease;
}

#active {
  background-color: var(--accent1-color);
  color: #0e1014;
}

.nav-link:hover:not(#active) {
  background-color: var(--secondary-color);
  color:#0e1014;
}

#theme-switcher img {
  width: 100%;
}

#theme-switcher {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  align-content: center;
  background-color: var(--primary-color);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: background-color 100ms ease;
}

#theme-switcher:hover {
  background-color: #81A1C1;
}

#content {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding: 20px 100px;
  animation: fadeIn 0.5s ease;
  margin-bottom: 100px;
}

#inner-content {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  height: 400px;
}

#about-me {
  text-align: left;
} 

#about-me p {
  margin: 0;
  margin-bottom: 20px;
}

#about-me h2, #about-me h1 {
  margin: 0;
  margin-top: 15px;
}

#imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

#imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: 50% 50%;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#links a {
  padding: 25px;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: #0e1014;
  transition: transform .5s ease, border-radius .5s ease;
}

#links a:hover {
  transform: scale(1.05);
  border-radius: 10px;
}

#links p {
  margin: 0;
}

#links h2 {
  margin: 0;
}

.hint {
  color: #c5c5c5;
  font-size: .75em;
}

p, a {
  font-family: var(--paragraph-font);
  line-height: 31px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  line-height: 31px;
  letter-spacing: -1px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  padding-left: 100px;
  background-color: var(--primary-color);
}

footer p, footer a {
  color: var(--accent2-color);
  text-decoration: none;
  margin: 0;
}

footer p a:hover {
  text-decoration: underline;
}

#social-media a {
  padding: 0;
}

#social-media img {
  padding-top: 5px;
  width: 35px;
}

@media screen and (max-width: 1000px) {
  header {
    height: auto;
    animation: slideInTop .5s ease;
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  #logo-link {
    display: grid;
    align-items: center;
  }

  #logo-link img {
    width: 60px;
    margin-right: 5px;
  }

  #sidebar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  #theme-switcher {
    position: unset;
    transform: none;
    margin: 0 10px 0 auto;
  }

  #content {
    padding: 20px 20px;
    margin-left: 0;
  }

  #about-me {
    margin-top: 60px;
  }

  #inner-content {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: auto;
  }
  
  #imgs {
    flex-direction: column;
  }

  #imgs img {
    width: 100%;
  }

  .hint {
    display: none;
  }

  footer {
    position: relative;
    margin-top: 100px;
    padding: 20px;
  }

  footer p a {
    text-decoration: none;
  }

  footer p a:hover {
    text-decoration: underline;
  }

  #social-media {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  #social-media img {
    width: 35px;
  }
  

  #links {
    width: 100%;
    gap: 20px;
  }
}