@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Urbanist:ital@0;1&display=swap');

:root {
  --primary-color: #3b4252;
  --secondary-color: #81A1C1;
  --accent1-color: #8fbcbb;
  --accent2-color: #E5E9F0;

  --heading-font: "Urbanist", Verdana, sans-serif;
  --paragraph-font: "Dosis", Helvetica, sans-serif;

  --headline-color-on-white: #3b4252;  /* headlines on a white background */ 
  --headline-color-on-color: #E5E9F0; /* headlines on a colored background */ 
  --paragraph-color-on-white: #3b4252; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #E5E9F0; /* paragraph text on a colored background */ 
  --paragraph-background-color: #3b4252;
  --nav-link-color: #3b4252;
  --nav-background-color: #8fbcbb;
  --nav-hover-link-color: #E5E9F0;
  --nav-hover-background-color: #3b4252;
}

